// css reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$black: #000000;
$white: #ffffff;
$beige: #DDD0C8;
$dark-grey: #323232;
$light-grey:#b4b4b4;
$accept-green: #23b42a;
$reject-red: #b85353;
$test: #f10101;

:root {
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

// mixins
@mixin FlexColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@mixin FlexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin NavBarDefaultButton {
  border: solid 1px transparent;
  border-radius: 15px;
  background-color: $light-grey;
  transition: all 300ms;
  font-size: 1.2rem;
  font-weight: 600;
}

@mixin NavBarHoverButton {
  border: solid 1px $dark-grey;
  background-color: $dark-grey;
  color: $white;
  transition: all 300ms;
}

@mixin FormDefault{
  padding: .2rem;
  border: solid 1px transparent;
}

@mixin FormFocus {
  outline: solid 2px $dark-grey;
}

@mixin FormBtnDefault {
  font-size: 1.2rem;
  border: solid 1px transparent;
  border-radius: 15px;
  transition: all 300ms;
}

@mixin FormAddBtnHover {
  border: solid 1px $accept-green;
  background-color: $accept-green;
  color: $white;
  transition: all 300ms;
}

@mixin FormCancelBtnHover {
  border: solid 1px $reject-red;
  background-color: $reject-red;
  color: $white;
  transition: all 300ms;
}

// header & footer 
@mixin HeaderFooter {
  background: $dark-grey;
  color: $white;

  display: flex;
  align-items: center;
}

@mixin TaskDefault {
  padding: .5rem;
  border: solid 1px transparent;
  border-radius: 15px;
  transition: all 300ms;
  font-size: 1rem;
}

@mixin TaskHover {
  border: solid 1px $dark-grey;
  background-color: $dark-grey;
  color: $white;
  transition: all 300ms;
}

.header,
.footer {
  @include HeaderFooter();
}

.header {
  justify-content: space-between;
}

.header__title {
  font-size: 2rem;
  font-weight: 900;
  padding: 1.5rem;
}

.header__menu {
  display: none;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  padding: 1.5rem;
}

.footer {
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  padding: .6rem;

  a {
    text-decoration: none;
    color: $reject-red;
  }
}

// main
.main {
  display: grid;
  grid-template-columns: auto 1fr;
}

.main > * {
  padding: 1.2rem;
}

// navbar
.navbar {
  @include FlexColumn();
  background-color: $light-grey;
  gap: .5rem;
  min-width: 12rem;
}

.navbar > *{
  @include FlexColumn();
  gap: .5rem;
}

.navbar__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem;
  @include NavBarDefaultButton()
}

.navbar__item:hover {
  @include NavBarHoverButton();
}

//projects
.project__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  @include NavBarDefaultButton();
  
  .project__name {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding: .5rem;
  }
  
  .project__remove-btn {
    background-color: inherit;
    font-weight: 600;
    font-size: .9rem;
    display: none;
    padding: 0 .5rem;
  }
}

.project__wrapper:hover {
  @include NavBarHoverButton();

  .project__remove-btn {
    display: block;
    color: $white;
  }
}

.active {
  @include NavBarHoverButton();
}

// project form
.project__add-btn {
  @include NavBarDefaultButton();
  padding: .5rem;
}

.project__add-btn:hover {
  @include NavBarHoverButton();
}

.project-add-form__wrapper {
@include FlexColumn();
  justify-content: center;
  gap: .3rem;

  display: none;

  .project-add-form__title {
    @include FormDefault();
    border-radius: .5rem;
    padding: .2rem;
  }

  .project-add-form__title:focus {
    @include FormFocus();
  }

  .project-add-form__btn {
    @include FormBtnDefault();
    min-width: 8rem;
    font-size: 1rem;
    padding: .2rem;
    border-radius: .5rem;
  }

  .project-add-form__btn:hover {
    @include FormAddBtnHover();
  }

  .project-cancel-form__btn {
    @include FormBtnDefault();
    min-width: 8rem;
    font-size: 1rem;
    padding: .2rem;
    border-radius: .5rem;
  }

  .project-cancel-form__btn:hover {
    @include FormCancelBtnHover();
  }
}

// task list
.task-list {
  @include FlexColumn();
  
  h1 {
    font-weight: 900;
    font-size: 1.6rem;
    padding: .5rem 0 1rem .5rem; 
    margin-bottom: 1rem;
    border-bottom: solid 2px $black;
  }

  .task-list__wrapper {
    @include FlexColumn();
    gap: .5rem;
  }

  .task__wrapper {
    @include FlexRow();
    gap: 1rem;

    @include TaskDefault;
    justify-content: space-between;
    cursor: pointer;
  }

  .task__wrapper:hover {
    @include TaskHover();

    button {
      visibility: visible;
    }
  }

  .task__wrapper > * {
    @include FlexRow();
    align-items: center;
  }

  .task__title {
    font-weight: 600;
  }

  .task-complete {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .task__toggle-wrapper {
  }

  .task__toggle {
    -webkit-appearance: none;
    appearance: none;
    background-color: $white;
    margin: 0;
    font: inherit;
    color: $accept-green;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.15em solid $black;
    border-radius: 50%;

    display: grid;
    place-content: center;
  }

  .task__toggle::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $dark-grey;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  .task__toggle:checked::before {
    transform: scale(1);
  }

  .task__left-section {
    flex: 1 1 60%;
    display: flex;
    gap: .5rem;
  }

  .task__right-section {
    font-size: .8rem;
    display: flex;
    gap: .8rem;
    
    button {
      visibility: hidden;
      border: none;
      background-color: inherit;
      color: inherit;
    }
  }

  .task__add-btn {
    @include NavBarDefaultButton();
    font-size: 1rem;
    padding: .5rem 1rem;
    margin: 0 auto;
  }

  .task__add-btn:hover {
    @include NavBarHoverButton();
  }
}

.task-add-form__wrapper {
  @include FlexColumn();
  margin-top: 1rem;
  display: none;
  align-items: center;
  gap: 1rem;
}

.task-add-form-input__wrapper {
  @include FlexRow();
  font-weight: 600;
  gap: 1rem;

  > * {
    padding: 0.2rem;
    border: solid 1px $black;
    border-radius: 0.5rem;
  }
}

.task-add-form-btn__wrapper {
  @include FlexRow();
  font-weight: 600;
  gap: 1rem;

  > * {
    @include FormBtnDefault();
    min-width: 8rem;
    font-size: 1rem;
    padding: .4rem .8rem;
    border-radius: 15px;
  }

  .task-add-form__btn:hover {
    @include FormAddBtnHover();
  }

  .task-cancel-form__btn:hover {
    @include FormCancelBtnHover();
  }
}

@media only screen and (max-width: 600px) {
  .main {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
  }

  .navbar {
    display: none;
  }

  .navbar-active {
    display: flex;
  }

  .header__menu {
    display: block;
  }
}
